.sidebar {
  width: 20%;
  height: 100vh;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar nav ul li {
  margin: 1rem 0;
}

.sidebar nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
  text-align: center;
  padding: 0.5rem;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.sidebar nav ul li a:hover {
  background-color: #61dafb;
}