@use '../App.scss' as *;

.sidebar {
  width: 15%;
  height: 100vh;
  background-color: white;
  color: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo{
      width: fit-content;
      height: auto;
      padding: 20px 0;
    }
  }
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 80%;
}

.sidebar nav ul li {
  margin: 1rem 0;
}

.sidebar nav ul li button {
  color: $black;
  text-decoration: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 4px;
  transition: background-color 0.3s;
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
}

.sidebar nav ul li button:hover {
  background-color: $primary-color;
  color: white;
}

.sidebar nav ul li button.active {
  background-color: $accent-color;
  color: $primary-color;
}