$primary-color: #096B72;
$secondary-color: #E3655B;
$black: #333242;
$faded-black: #3F414E;
$disabled-color: #8C8C8C;
$faded-alt: #A1A4B2;
$white: #EEF4ED;
$accent-color: #EEF4ED;


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: $black;
  text-align: center;
}

.logo {
  height: 40vmin;
//   pointer-events: none;

  &.react {
    animation: spin infinite 20s linear;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.read-the-docs {
  color: $primary-color;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}